#id1 {
	color: red;
	text-decoration: none;
}
#id1:hover{
	font-size: 25px;
	color: gold;
}
#id2 {
	color: red;
	text-decoration: none;
}
#id2:hover{
	font-size: 25px;
	color: gold;
}
body{
	font-family: 'Srisakdi', cursive;
	font-size: 20px;
}
.class1{
	font-size: 30px;
	color: gold;
}
.class2{
	font-size: 25px;
	color: red;
}
.class3{
	background-image:url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1551822581160&di=6f4c74ad32d2afc170cac8fe689ba9ec&imgtype=0&src=http%3A%2F%2Fs8.sinaimg.cn%2Fmiddle%2F3fb0f8eeh8a41aa6c9437%26690);
}
table{
	height: 100px;
}
header{
	text-shadow:10px 10px 8px rgba(0,180,255,1);
	letter-spacing:5px; /*I used text shading and text spacing, which I hadn't used before, while styling an element
}
